body{
  font-family: helvetica;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 400px;
}

.linktohomepage{
  text-align: center;
  font-size: 16px;
  font-family: europa-light;
  margin:auto;
  position:relative;
  border: 3px solid #EF6CB6 ;
  padding: 5px;
  width: 300px;
}
