.linktohomepage{
text-align: center;
font-size: 16px;
font-family: europa-light;
margin:auto;
position:relative;
border: 3px solid #EF6CB6 ;
padding: 5px;
width: 300px;
}

.article1{
padding-left: 100px;
padding-right: 100px;
background-color: #CCFDF1;
}

.leftarrow{
float:left;
font-size: 50px;
text-decoration: none;
}

.rightarrow{
float: right;
font-size: 50px;
text-decoration: none;
}

.end1{
border-bottom: 3px solid black;
}

.article2{
padding-left: 100px;
padding-right: 100px;
background-color: #CCFDF1
}

.article3{
padding-left: 100px;
padding-right: 100px;
background-color: #CCFDF1
}

h1{
text-transform: uppercase;
text-align: center;
font-weight: bold;
font-size: 50px;
font-family: courier;
margin:auto;
position:relative;
border: 5px solid #057359;
border-style: dashed;
background-color: #51C5A9;
padding: 5px;
}

h2{
font-weight: bold;
font-size:20px;
font-family: courier;
}

h3{
font-weight: bold;
}

body{
background-color: #BEF5F6;
font-size: 12px;
font-family: courier;
padding-left: 20px;
padding-right: 20px;
}
