body{
  background-color: peachpuff;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
}

p{
  font-family: europa-light;
  font-size: 12px;
}

h1{
  font-family: europa-bolditalic;
  text-transform: uppercase;
}

h2{
  font-family: europa-bold;
  text-transform: uppercase;
}

h3{
  font-family: europa-bold;
}

blockquote{
    font-family: europa-lightitalic;
    font-size: 12px;
  }

li{
  font-family: europa-light;
  font-size: 12px;
}

.linktohomepage{
  text-align: center;
  font-size: 16px;
  font-family: europa-light;
  margin:auto;
  position:relative;
  border: 3px solid #EF6CB6 ;
  padding: 5px;
  width: 300px;
}
