body{
  padding: 20px;
  padding-top: 50px;
  text-align: center;
}

.linktohomepage{
  text-align: center;
  font-size: 16px;
  font-family: europa-light;
  margin:auto;
  position:relative;
  border: 3px solid #EF6CB6 ;
  padding: 5px;
  width: 300px;
}
