body {
background-color: #f4c7a8;
text-align: center;
font-family: helvetica;
font-size:20px;
border-style: dotted;
border-width; 1px;
}

/* MY HEADER FONT AND STYLE */

.header {
  position: static;
  padding-top: 100px;
  bottom:0px;
  text-align: center;
  font-size: 6vw;
  text-transform: uppercase;
  font-family: courier;
  color: #ed6e0f;
  letter-spacing: -0.05em;
  width:100%;
  text-align: center;
  z-index: 2;
}

/* MY NAVIGATION FONT AND STYLE */

.nav {
width:100%;
position: fixed;
top:0px;
left:0px;
z-index:2;
padding-top: 5px;
}

/* MY BUTTON FONT AND STYLE */

.button {
font-family:helvetica;
border:2px solid gray;
border-radius: 10px;
padding:5px;
display: inline-block;
margin: 2px;
font-size: 18px;
color: #ff8431;
background-color: #fcede3;
cursor: pointer;
}

/* SPECIAL BUTTONS */

.b-showall {
  color:#ffa631;
}

/* MY BASE WIDTH FOR ALL ITEMS */

.item {
  width:25%;
  height: 30vw;
}

/* STOP IMAGES FROM GOING OUTSIDE THEIR WIDTH */

.item img {
  max-width:100%;
  padding: 10px;
}

/* HELPER CLASSES FOR JS TO HIDE AND SHOW */

.show {
  display: block;
}

.hide {
  display: none;
}

.linktohomepage{
  text-align: center;
  font-size: 16px;
  font-family: europa-light;
  margin:auto;
  position:relative;
  border: 3px solid #EF6CB6 ;
  padding: 5px;
  width: 300px;
}
